@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arima+Madurai:wght@300&family=Averia+Serif+Libre:ital@1&family=Bangers&family=Cinzel:wght@500&family=Goudy+Bookletter+1911&family=Russo+One&family=Space+Grotesk&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
    font-family: 'Cinzel', serif;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body{
    background-color: black;
}

#preloader{
  background: #000 url("loading.gif") no-repeat center center;
  background-size: 12%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-menu li {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    animation: glow2 1s ease-in-out infinite alternate;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    animation: showup 7s 1;
    background-color: black;
}

.navbar img{
  animation: slideLeft 1s ease-in-out forwards;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ece5e5;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-right: 5rem;
    animation: slideRight 1s ease-in-out forwards;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #aeb9c7;
}

.nav-link:hover{
    color: #ffffff;
    font-size: 1.8em;
}

.nav-logo {
    height: 50px;
    margin-left: 10px;
}

#thispage a{
  border-bottom: 1px solid #aeb9c7;
}

.banner{
    background: black;
    min-height: 100vh;
    align-items: center;
}
.banner .image{
    width: 100%;
    margin-top: 15px;
    animation-name: showup;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
.first1{
    display:inline-block;
    overflow:hidden;
}
.first1 p{
    color: rgb(241, 237, 221);
    font-size: 8vw;
    margin: 50px 40px;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    text-transform: uppercase;
    animation: glow2 2s ease-in-out infinite alternate;
}

.scrollFade {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--animate {
    transition: opacity 2s ease-in-out;
  }

  #second{
      position: relative;
  }

  .video{
      width: 100%;
      filter: opacity(20%);
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  #second p{
    color: rgb(0, 0, 0);
    font-size: 8vw;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    text-transform: uppercase;
    animation: glowred 2s ease-in-out infinite alternate;
    background-color: none;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 5vw;
  }

  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#crunchy{
    display: flex;
    margin: 40px 0;
    align-items: center;
}

#crunchy p{
        color: rgb(241, 237, 221);
        font-size: 5vw;
        margin: 50px 40px;
        font-family: 'Bangers', cursive;
        padding: 0 30px;
        text-transform: uppercase;
        animation: glowpink 2s ease-in-out infinite alternate;
        
}

#crunchy img{
    width: 30%;
    height: auto;
}

#latestnews{
    color: white;
    font-size: 1.5vw;
    margin: 20px 0;
    margin-left: 7%;
}

  .ad{
      display: flex;
      justify-content: space-evenly;
  }
.third{
    position: relative;
    width: 25%;
}

.newsbg{
    display:block;
    width: 100%;
    height: auto;
    opacity: 1; 
    border-bottom: 3px solid #5d656e;
}

.overlay-slide {
    position: absolute;     
    opacity:0;
    bottom:0;
    right:0;
    top:100%;
    height:0;
    width:100%;
    overflow: hidden;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
  }

.third:hover .newsbg {
    opacity:0.7;
    transition-duration: .5s;
    border-bottom: 3px solid #25eefc;
 }

.third:hover .overlay-slide
{
  top: 0;
  height: 100%;
  opacity:0.7;
 }

 #news{       
    color: white;
    font-size: 1.5vw;
    padding: 0;  
    text-align: justify;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#news button{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 10px;
    border: 2px solid #d4c7c7c5
}

#news p, span{
    font-family: 'Arima Madurai', cursive;
}

span{
    border-bottom: 1px solid #d4c7c7c5;
    color: #d4c7c7c5;
}

  .footer{
    color: rgb(241, 237, 221);
    margin: 50px 40px;
    text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    text-transform: uppercase;
    animation: glow2 2s ease-in-out infinite alternate;
    font-size: 2em;
  }

  #scrollToTopBtn {
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2em;
    width: 1.4em;
  }

#tobottom{
  position: absolute;
  right: 9%;
}

@keyframes glow2 {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

  @keyframes glowred {
    from {
      text-shadow: 0 0 20px #fc2525;
    }
    to {
      text-shadow: 0 0 30px #84f0fc, 0 0 10px #77fd65;
    }
  }

  @keyframes glowpink {
    from {
      text-shadow: 0 0 20px #b83497;
    }
    to {
      text-shadow: 0 0 30px #ce93dd, 0 0 10px #df72b5;
    }
  }

  @keyframes showup {
    0% {opacity:0;}
    25% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slideLeft
{
	0%{
		transform: translateX(-150px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slideRight
{
	0%
	{
		transform: translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.89);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .navbar{
      position: sticky;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    #news button{
      font-size: 1.5vw ;
    }
}